/* body background*/
body {
background: rgb(223,251,255);
background: -moz-radial-gradient(center, ellipse cover, rgba(223,251,255,1) 0%, rgba(152,216,222,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(223,251,255,1)), color-stop(100%,rgba(152,216,222,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, rgba(223,251,255,1) 0%,rgba(152,216,222,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, rgba(223,251,255,1) 0%,rgba(152,216,222,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(223,251,255,1) 0%,rgba(152,216,222,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center, rgba(223,251,255,1) 0%,rgba(152,216,222,1) 100%); /* W3C */
}

/*start of navigation*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  	color: black; /*Sets the text hover color on navbar*/

  	background-color: #F1F1F1;
    border-bottom-color: blue;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus { 
  	color: #1565B2; /*BACKGROUND color for active*/
  	background-color: #F5F5F5;
  	font-weight: bold;
  	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	-ms-border-radius: 3px;
  	-o-border-radius: 3px;
  	border-radius: 3px;
  	border: 1px solid #C4C4C4;
  	max-width:1024px;
    border-bottom: 2px solid transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus a { 
  	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	-ms-border-radius: 3px;
  	-o-border-radius: 3px;
  	border-radius: 3px;
  	display: block;
  	background: #F5F5F5;
  	border: 1px solid #F5F5F5 ;
	  max-width:1024px;
 	  background-color: transparent;
    border-bottom: 3px solid #1565B2;
}

.navbar-default.
{
	color: 	#1873CC; /*BACKGROUND color for active*/
	background-color: #F8F8FF ;
	max-width:1024px;
}

.nav-size
{
	height: -2px;
	max-width:1024px;
}

.active
{
	background-color: #F5F5F5;
}

/* end of navigation bar*/

/*start of banner*/

.page-header>.no-margin a
{
	max-width:1024px;
	margin-right: 0px;
	margin-left: 0px;

}

 .no-margin
{
	max-width:1024px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}
.no-padding
{
	max-width:1024px;
	padding:0px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}

.navbar-brand
{
	font-weight: bold;
}

.btn-primary>.active{
    margin-right: 30px;
	background-color: black;
}

/*end of banner*/

/*start-btn-faqs*/
.btn>.btn-default
{
  margin: 120px;
}
/*end-btn-faqs*/

/*Container-Contact*/
.panel-default{
	max-width: 450px;
	margin-right: 50px;
	background-color: #F3F9FF;

}
/*Container-Contact*/

/*Container-Panel Style*/
.panel
{
	background-color: #EFF9FA;
  	max-width:995px; 
  	margin-top:0px;
  	padding-top:5px;
    padding-bottom:5px;
	margin-right: 0px;
	margin-left: 0px;
    box-shadow: 3px 5px 10px 2px #888888;	
}

/*End of Container Panel Style*/

/*start of e-services templates*/
.shadow 
{
	max-width:189px;
	max-height:124px;
	min-width:134px;
	min-height:88px;
	border:1px solid black;
	box-shadow: 3px 5px 10px 2px #888888;
}

.shadow:hover
{
	opacity: 0.6;
}
/*end of e-services templates*/

input[type="text"]:focus {
    background-color: #FFFDF4;
}

input[type="email"]:focus {
    background-color: #FFFDF4;
}

textarea:focus {
    background-color: #FFFDF4;
}

.nav-tabs {
	background-color: #F6F6F6;
	color: #1565B2; /*BACKGROUND color for active*/
  	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	-ms-border-radius: 3px;
  	-o-border-radius: 3px;
  	border-radius: 3px;
  	border: 3px solid #C4C4C4;
  	max-width:1024px;
    border-bottom: 2px solid transparent;
}

.tab-pane{
	background-color: white;
   	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	-ms-border-radius: 3px;
  	-o-border-radius: 3px;
  	border-radius: 3px;
  	border: 3px solid #C4C4C4;
  	border-top: 2px solid transparent;
  	max-width:1024px;
}

/*start of footer*/
.site-footer
{
	max-width:1024px;
	margin-top:0px;
	padding-top:20px;
    padding-bottom:5px;
	margin-right: auto;
	margin-left: auto;
	background-color: #F8F8FF;
	color:#696969;
}

.bottom-footer
{
	margin-top:0px;
	margin-bottom: 30px;
	text-align: right;
	font-size: 10px;
}
/*end of footer*/

